extends layout

block content

  div Welcome #{currentUser ? currentUser.username : 'Guest'}.
  if (!currentUser || currentUser.membership === 'user')
    | Become a Club Member to see who posted all those messages.

  each message in messages
    div.card
      div.card-body
        div.card-title #{message.title}
        div.card-subtitle.mb-2.text-muted
          if (currentUser && currentUser.membership !== 'user')
            | #{message.author.username}
          else
            | Secret Member
        p.card-text #{message.text}
