extends layout

block content
  h1 Join the Private Club

  form(method='POST' action='')
    div.form-group
      label(for='password') Secret Club Password
      input.form-control#password(type='password' name='password' value=(password === undefined ? '' : password))

      -
        let error;
        if (errors) {
          error = errors.find((error) => error.param === 'password');
        }

      if error
        small.form-text.text-danger #{error.msg}

    button.btn.btn-primary(type='submit') Enter the club