nav.navbar.navbar-expand-md.navbar-light.bg-light.mb-2
  a.navbar-brand(href='/') Members Only
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarContent' aria-controls='navbarContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  
  div.collapse.navbar-collapse#navbarContent
    ul.navbar-nav.w-100
      li.nav-item.mr-auto
        a.nav-link(href='/') Home
      
      if (currentUser)
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#' id='userDropdown' role='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") #{currentUser.username}
          div.dropdown-menu.dropdown-menu-right(aria-labelledby='userDropdown')
            a.dropdown-item(href='/join')
              | Change your rank in the Club
              br
              | (Current Rank: #{currentUser.membership.slice(0, 1).toUpperCase() + currentUser.membership.slice(1)})
            a.dropdown-item(href='/logout') Log out

      else  
        li.nav-item
          a.nav-link(href='/signup') Sign up
        li.nav-item
          a.nav-link(href='/login') Log in
      
