extends layout

block content
  h1 Sign up

  form(method='POST' action='')

    -
      let usernameError, passwordError, confirmationError;
      if (errors) {
        usernameError = errors.find((error) => error.param === 'username');
        passwordError = errors.find((error) => error.param === 'password');
        confirmationError = errors.find((error) => error.param === 'confirmation');
      }

    div.form-group
      label(for='username') Username
      input.form-control#username(type='text' name='username' value=(user === undefined ? '' : user.username))
      if usernameError
        small.form-text.text-danger #{usernameError.msg}

    div.form-group
      label(for='password') Password
      input.form-control#password(type='password' name='password' value=(user === undefined ? '' : user.password))
      if passwordError
        small.form-text.text-danger #{passwordError.msg}

    div.form-group
      label(for='confirmation') Password Confirmation
      input.form-control#confirmation(type='password' name='confirmation' value=(user === undefined ? '' : user.confirmation))
      if confirmationError
        small.form-text.text-danger #{confirmationError.msg}

    button.btn.btn-primary(type='submit') Sign up