extends ../layout

block content
  h1 Join the Private Club
  div Enter the password to become a regular club member, or enter the super secret password to become an administrator.
  ul
    li Regular club members are able to see authors of each message.
    li Administrators are able to see everything and can delete messages.

  form(method='POST' action='')
    div.form-group
      label(for='password') Secret Club Password
      input.form-control#password(type='password' name='password' value=(password === undefined ? '' : password))

      -
        let error;
        if (errors) {
          error = errors.find((error) => error.param === 'password');
        }

      if error
        small.form-text.text-danger #{error.msg}

    button.btn.btn-primary(type='submit') Enter the club